$colors: (
    primary: (
        "100": rgb(40,40,40),
        "200": rgb(60,60,60),
        "300": rgb(37, 37, 37),
        "400": rgb(0, 0, 0),
    ),
    secondary: (
        "100": rgb(95, 59, 255),
        "200": rgb(0, 0, 154),
        "300": rgb(0, 0, 93),
    )
);